
<p>
    If any of you are self-taught programmers, then you’ll understand how daunting of a task it is to dive headfirst into
    the world of programming; New libraries and technologies pop up every day, and it seems like no two projects have
    exactly the same stack, versions, libraries, etc. Every language, library, technology, concept, etc. has its own
    steep learning curve, and especially when starting out, it is extremely hard to decide where you should spend most
    of your time studying and practicing.
</p>

<p>
    While learning new languages and technologies, I’ve visited countless sites, tutorials, and other blogs to help me
    along my path. While I have found some GREAT resources out there, let’s just say I’ve wasted a lot of time on not-so-great
    resources others. So, what I’m hoping to do here is share tutorials and resources that will hopefully prevent you
    from wasting your time as well. While there are many tutorials out there, most of them don’t go into enough detail
    or only cover the most basic use cases. My goal is to try to go more in depth than your average tutorial. Anyway,
    I hope you find everything I share here useful. If not, please email me recommendations via the links in the
    "About Me" section.
</p>

<p>
    Happy reading!
</p>


<h2>Contact Me</h2>
<form action="https://fabform.io/f/{{site.fab_form}}" method="post">
    <label for="firstName" class="form-label">First Name</label>
    <input name="firstName" type="text" required class="form-control">
    <label for="lastName" class="form-label">Last Name</label>
    <input name="lastName" type="text" class="form-control">
    <label for="email" class="form-label">Email</label>
    <input name="email" type="email" required class="form-control">
    <label for="message" class="form-label">Message</label>
    <textarea name="message" required class="form-control" rows="10"></textarea>
    <p>Powered by <a href="https://fabform.io" target="_blank">fabform.io</a></p>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
