<ul class="tags-box">
    {% if site.posts != empty %}
    {% assign categories = site.categories | sort %}
    {% for cat in categories %}
        <span class="badge bg-info">
    <a href="#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] | join: "/" }}<span
                class="size"> {{ cat[1].size }}</span></a>
</span>
    {% endfor %}
</ul>

<ul class="tags-box list-group list-group-flush">
    {% for cat in categories %}
        <li id="{{ tag[0] }}" style="margin-top: 20px" class="list-group-item">
            <h3>{{ cat[0] }}</h3>
            {% for post in cat[1] %}
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo;
                <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br/>
            {% endfor %}
        </li>
    {% endfor %}
    {% else %}
        <span>No posts</span>
    {% endif %}
</ul>
