<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0" nonce="4ktIzsLp"></script>
<header class="site-header">
  <div class="wrapper">

    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">
        <img class="logo" src="{{ "/images/JLSunday-logo/icon.png" | prepend: site.url }}" alt="JLSunday Logo" title="JLSunday" loading="lazy">
        <span>{{ site.title }}</span>
      </a>
    </h1>
    {% comment %}<h3 class="site-meta">{{ site.tagline }}</h3>{% endcomment %}

    {% include navigation.html %}

  </div>

</header>
