<div class="home row">
    <div class="post col-md-8 mx-auto" itemscope itemtype="https://schema.org/BlogPosting">

        {%- assign locales = site.data.locales -%}
        {%- assign featuredPosts = paginator.posts | where: "featured", true -%}
        {%- assign otherPosts = paginator.posts | where: "featured", false -%}

        {% unless featuredPosts == empty %}
            {%- assign featuredPosts = featuredPosts -%}
            {%- for fPost in featuredPosts -%}
                {%- include home/post_card.html post=fPost -%}
            {%- endfor -%}

            <hr>
        {% endunless %}

        {% unless otherPosts == empty %}
            {%- for oPost in otherPosts -%}
                {%- include home/post_card.html post=oPost -%}
                <br>
            {%- endfor -%}
        {% endunless %}

        {% unless otherPosts != empty or featuredPosts != empty %}
            <p><b>There don't appear to be ay posts...</b></p>
        {% endunless %}

    </div>
    <div class="vr d-none d-md-block" style="padding: 0;"></div>
    <hr class="d-block d-md-none">
    <div class="col-md-3 mx-auto">
        {% include sidebar.html %}
    </div>
</div>
