<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Feature</th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#aseprite' | prepend: site.url}}">Aseprite</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#grafx2' | prepend: site.url}}">GrafX2</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#pixieditor' | prepend: site.url}}">PixiEditor</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#libresprite' | prepend: site.url}}">LibreSprite</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#libresprite-dotto' | prepend: site.url}}">LibreSprite Dotto</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#jpixel' | prepend: site.url}}">JPixel</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#pixelorama' | prepend: site.url}}">Pixelorama</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#pixel-studio' | prepend: site.url}}">Pixel Studio</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#graphics-gale' | prepend: site.url}}">Graphics Gale</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#piskel' | prepend: site.url}}">Piskel</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#lospec-pixel-editor' | prepend: site.url}}">LoSpec Pixel Editor</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#pixilart' | prepend: site.url}}">PixilArt</a></th>
            <!--- th>Pyxel Edit</th> -->
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#pro-motion' | prepend: site.url}}">Pro Motion Free</a></th>
            <th><a href="{{'/tools/reviews/2022/06/11/Comparing-Pixel-Art-Editors.html#pro-motion' | prepend: site.url}}">Pro Motion Full</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Pixel Perfect</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-remove"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-check"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-check"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-check"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-remove"></i></td><!--- JPixel -->
            <td><i class="fa fa-check"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-check"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-remove"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-remove"></i></td><!--- Piskel -->
            <td><i class="fa fa-remove"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-check"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-remove"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-check"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Layers</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-check"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-check"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-check"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-check"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-check"></i></td><!--- JPixel -->
            <td><i class="fa fa-check"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-check"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-check"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-check"></i></td><!--- Piskel -->
            <td><i class="fa fa-check"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-check"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-check"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-check"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Symmetry Mirror Pen</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-remove"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-remove"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-check"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-question"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-remove"></i></td><!--- JPixel -->
            <td><i class="fa fa-check"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-remove"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-remove"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-check"></i></td><!--- Piskel -->
            <td><i class="fa fa-remove"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-check"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-check"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-check"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Auto-Shade/Shading Mode</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-check"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-check"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-check"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>RotSprite Rotation</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-question"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Custom Brushes</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-check"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Anti-Aliasing</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-remove"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Tile Mode</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-check"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>File Export - PNG Image Sequences</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-question"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>File Export - Animated GIFs</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-check"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>File Export - Sprite Sheets</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-remove"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Animation - Frames</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-check"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-remove"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-check"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-remove"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-check"></i></td><!--- JPixel -->
            <td><i class="fa fa-check"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-check"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-check"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-check"></i></td><!--- Piskel -->
            <td><i class="fa fa-remove"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-check"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-check"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-check"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Animation - Frame Tags</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-remove"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Animation - Onion Skin</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-remove"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Animation - Playback Modes</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-question"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Palette - Export/Import</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-check"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-check"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>
        <tr>
            <th>Extensibility</th>
            <td><i class="fa fa-check"></i></td><!--- Aseprite -->
            <td><i class="fa fa-question"></i></td><!--- Grafx2 -->
            <td><i class="fa fa-"></i></td><!--- PixiEditor -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite -->
            <td><i class="fa fa-"></i></td><!--- LibreSprite Dotto -->
            <td><i class="fa fa-"></i></td><!--- JPixel -->
            <td><i class="fa fa-"></i></td><!--- Pixelorama -->
            <td><i class="fa fa-"></i></td><!--- Pixel Studio -->
            <td><i class="fa fa-"></i></td><!--- Graphics Gale -->
            <td><i class="fa fa-"></i></td><!--- Piskel -->
            <td><i class="fa fa-"></i></td><!--- LoSpec Pixel Editor -->
            <td><i class="fa fa-"></i></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Free -->
            <td><i class="fa fa-"></i></td><!--- Pro Motion Full -->
        </tr>

        <tr class="costTable">
            <th>Cost</th>
            <td>
                <b>Three Options:</b><br>
                <b>1.</b> <b>Free*</b><br>
                <b>2.</b> Trial Version<br>
                <b>3.</b> $20<br>
            </td><!--- Aseprite -->
            <td class="singleOption"><b>Free</b></td><!--- Grafx2 -->
            <td class="singleOption"><b>Free</b></td><!--- PixiEditor -->
            <td class="singleOption"><b>Free</b></td><!--- LibreSprite -->
            <td class="singleOption"><b>Free</b></td><!--- LibreSprite Dotto -->
            <td class="singleOption"><b>Free</b></td><!--- JPixel -->
            <td class="singleOption"><b>Free</b></td><!--- Pixelorama -->
            <td><b>Three Options:</b><br>
                <b>1.</b> <b>Free</b><br>
                <b>2.</b> Pro<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- $7.99<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Removes Ads<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Unlocks features like Tile mode<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More details <a href="https://github.com/hippogamesunity/PixelStudioHub/wiki/Shop" target="_blank" rel="noopener noreferrer">here</a><br>
                <b>3.</b> Pro Cross<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- $11.99<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Same as Pro<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Allows you to use Pro cross-platform<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- More details <a href="https://github.com/hippogamesunity/PixelStudioHub/wiki/Shop" target="_blank" rel="noopener noreferrer">here</a>
            </td><!--- Pixel Studio -->
            <td class="singleOption"><b>Free</b></td><!--- Graphics Gale -->
            <td class="singleOption"><b>Free</b></td><!--- Piskel -->
            <td class="singleOption"><b>Free</b></td><!--- LoSpec Pixel Editor -->
            <td class="singleOption"><b>Free</b></td><!--- PixilArt -->
            <!--- td><i class="fa fa-remove"></i></td><--- Pyxel Edit -->
            <td class="singleOption"><b>Free</b></td><!--- Pro Motion Free -->
            <td>
                - $39.00<br>
                - $19 to upgrade from previous version<br>
                - More details <a href="https://www.cosmigo.com/pixel_animation_software/downloads" target="_blank" rel="noopener noreferrer">here</a>
            </td><!--- Pro Motion Full -->
        </tr>
        </tbody>
    </table>
</div>
