<ul class="tags-box">
    {% if site.posts != empty %}
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
        <span class="badge bg-info">
    <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}<span
                class="size"> {{ tag[1].size }}</span></a>
</span>
    {% endfor %}
</ul>

<ul class="tags-box list-group list-group-flush">
    {% for tag in tags %}
        <li id="{{ tag[0] }}" style="margin-top: 20px" class="list-group-item">
            <h3>{{ tag[0] }}</h3>
            {% for post in tag[1] %}
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time> &raquo;
                <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a><br/>
            {% endfor %}
        </li>
    {% endfor %}
    {% else %}
        <span>No posts</span>
    {% endif %}
</ul>
