html,
body {
  height: 100%;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#rss-button {
  text-align: center;
}

.post-meta > i {
  margin: 0 5px;
}

.post {
  padding-bottom: 20px;
  font-family: $monospace-font-family;
  font-size: $base-font-size;

  #toc-sidebar {
    overflow-x: hidden;
    height: fit-content;
    position: -webkit-sticky; // Safari
    position: sticky;
    top: 0;
    transition: all ease-in 0.5s;
    padding: 0;

    #toc-contents {
      font-size: $small-font-size;
      width: 100%;
      padding: 0;
      margin-left: 0;

      ul {
        padding-left: 1rem;

        li {
          padding-top: 10px;
          position: relative;
          list-style-type: inherit;
        }
      }

    }

    .toc-header {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  #tocOpenBtn {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    position: -webkit-sticky; // Safari
    position: sticky;
    top: 0;
    transition: all ease-in .5s;

    #chevron {
      transition: all ease-in .5s;
      font-size: 20px;
      display: inline-block;
    }
  }

  @media (max-width: 768px) {
    #toc-sidebar {
      position: relative;
    }

    #tocOpenBtn {
      display: none;
    }

    #toc-sidebar,
    #tocOpenBtn {
      transition: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .octicon {
    visibility: hidden;
  }

  &:hover {
    .octicon {
      visibility: visible;
      fill: currentColor;
      vertical-align: middle;
    }
  }
}


/**
 * Sidebar
 */
.sidebar-module {
  margin-bottom: 50px;
  font-size: 14px;

  h4 {
    font-size: $large-font-size;
    font-weight: bold;
  }

  li {
    list-style: none;
  }
}

/**
 * Images
**/
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Aboutme photo Style
**/
.about {
  img {
    margin: 0 auto;
    display: block;
  }
}


/**
 * Figures
**/
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Pills (Tag, Categories, etc.)
**/
span.badge.bg-info > a {
  color: black;
}

/**
 * Tags and Categories Style
**/

.tags-box {
  li {
    list-style: none;
    font-weight: bold;
    margin-top: 10px;
  }

  .size {
    font-size: 0.7em;
    font-weight: bold;
    vertical-align: super;
  }

  time {
    margin-left: 15px;
    font-style: italic;
  }
}


/**
 * Pagination Style
**/
.pager {
  margin-bottom: 60px;
  text-align: center;

  ul {
    display: block;
    margin: 20px 0;
  }

  li {
    list-style: none;
  }

  li.previous a {
    float: left;
  }

  li.next a {
    float: right;
  }

  li.disabled {
    display: none;
  }
}

/**
 * Scrollbars
**/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/**
 * Ascii-Art
**/
.ascii-art {
  font-family: monospace;
  white-space: pre;
}
