#lunrsearchresults {
    padding-top: 0.2rem;
}

.lunrsearchresult {
    padding-bottom: 1rem;
}

.lunrsearchresult .title {
    color: $brand-top-color;
}

// .lunrsearchresult .url {
    // color: silver;
// }

.lunrsearchresult a {
    display: block;
    // color: #777;
}

.lunrsearchresult a:hover,
.lunrsearchresult a:focus {
    text-decoration: none;
}

.lunrsearchresult a:hover .title {
    text-decoration: underline;
}