div#fixedTable {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 500px;
}

table {
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  border: 1px solid black;
  max-width: calc(1000px - (15px * 2));
  margin-right: 15px;

  caption {
    text-align: left;
    padding: 0.25rem;
    position: sticky;
    left: 0;
    z-index: 1;
  }
}
table td,
table th {
  border: 1px solid black;
  //padding: 0.5rem 1rem;
  padding: 16px;
}

table thead th {
  //padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: white;
}
table td {
  background: #fff;
  padding: 4px 5px;
  text-align: center;
}

table tbody th {
  text-align: left;
  position: relative;
}
table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  text-align: left;
}
table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

.costTable td {
  text-align: left;
}

td.singleOption {
  text-align: center;
}
